.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
    padding-left: 10px;
    padding-right: 10px;
    font-size: x-large;
}

.a {
    font-weight: lighter;
    text-decoration: none;
    color: black;
}

.a:hover {
    text-decoration: underline;
    color: #574635;
}