.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    min-height: 95vh;
    font-size: x-large;
    font-family: Helvetica;
    padding-left: 10px;
    padding-right: 10px;
}

.img {
    display: block;
    height: auto;
    width: 35vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
}

.h1 {
    font-weight: bold;
}

.p {
    font-weight: lighter;
}